
@media (max-width: 1199.98px) {


}
@media (max-width: 991.98px) {


}

@media (max-width: 767.98px) {
    .product-content p {
        font-size: 1.2rem !important;
    }
    .about-img img{
        height: 20rem !important;
    }
    .product-item {
        /*max-height: 700px !important;*/
        height: 100% !important;

    }
    .product-img{
        height: 100% !important;
    }

    .important-px-2 {
        display: none !important;
        height: 50px !important;
        width: 100px !important;
    }

    .advantages-list {
        background-image: none !important;
    }
    .btn-change-margin{
        margin-top:100px;
    }


}








/*@media (max-width: 575.98px) {*/
/*    .product-content p {*/
/*        !*font-size: 1.5rem !important;*!*/
/*    }*/
/*}*/