

h2,.topBar-menu a{
    font-family: 'EB Garamond', serif !important;
}

.topBar-menu a::before{
    background-color: mediumpurple !important;
   top:100% !important;
}

.product-item {
    min-height: 100% !important;
}
.product-img{
    height: 100% !important;
}

.important-px-2{
    margin-top:-80px !important;
    height: 100px !important;
    width:150px !important ;
}
.carousel-arrows-usual {
    top:25% !important;
    width: 100px;

}
.centered{
    top:40% !important;
}
.topBar-logo{
    width: 250px !important;
}
.icon{
    fill:rebeccapurple !important;
}
.icon-angle-right{
    fill:orangered !important;
}
.icon-angle-left{
    fill:orangered !important;
}
.btn-usual.btn-outline{
    border: 0.125rem solid mediumpurple !important;
    color: mediumpurple !important;
}

.btn-usual.btn-outline:hover{
    background-color: mediumpurple !important;
    color: #fff !important;
}
.btn-usual.btn-green{
    background-color: mediumpurple !important;
}

.advantages-list{
    background-image: url(../pictures/5.png) !important;
    /*height: 0px !important;*/
}

#SVGID_1_{
    width: 10px !important;
    height: 10px !important;
}

.footer-social a{
    border:none !important;
}
.contacts-map {
    border: 0.125rem solid mediumpurple !important;
}

.about-img img{
    height: 40rem !important;
}


.carousel-dot-usual {
    display:none !important;
}